.four-squares{
    margin-top: 0%;
}

.els-header{
    font-Family: 'Brush Script MT';
}

.square{
    text-align: center;
    text-decoration: antiquewhite;
    margin-left: 1.35%;
    font-size: xx-large;
    height: 32vh;
    align-content: center;
    background-color: #9ccda9a6;
    border: 1px solid rgb(160, 158, 158);
    font-family: 'Trebuchet MS';
    
}

.main-div{
    height: 100vh;
    text-align: center;
    font-size: medium;
    
}

.els-sentence {
    text-align: center;
    margin-top: -18%;
    margin-bottom: 9%;
    font-Family: 'Trebuchet MS';
    margin-top: -53%;
}