.main-div{
    height: 100vh;
    background-image: url("../pic1.jpg");
    
}

.myAccount-header{
    color:aliceblue;
    text-align: center;
    font-Size: 500%;
    font-Family: 'Trebuchet MS';
    color: black;
    font-weight: 505;
    padding-top: 2%;
}

.BackToLobbyFromAccount{
    margin-left: 87%;
    font-weight: 600;
    font-Family: 'Trebuchet MS';
}

.main-table{
    margin-top: 25px;
    width: 70%;
    border-radius: 15px;
    border-color: rgb(240, 245, 242);
    background-color: rgba(248, 242, 242, 0.44);
}

.form-container {
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    font-Family: 'Trebuchet MS';
    
  }
  
  .form-item {
    flex: 0 0 50%;
    box-sizing: border-box;
    padding: 0 9px;
    border-radius: 150px;
    font-Family: 'Trebuchet MS';
    font-size: 150%;
  }
  
  input {
    width: 80%;
    border-radius: 12px;
    text-align: left;
    background-color: rgba(255, 255, 255, 0.548);
    font-Family: 'Trebuchet MS';
  }