.partTwo {
   margin-left: 50%;
}

.tableSignIn {
   border-radius: 15px;
   background-color: rgba(255, 255, 255, 0.418);
   font-size: larger;
   height: 35vh;
   width: 40vw;
   margin-top: 10px;
   padding-bottom: 10px;
   padding: 5%;
   justify-content: center;

}

.welcome {
   font-family: 'Brush Script MT';
   text-align: center;
   font-size: 100px;
   margin-top: -3%;
}

.ELS {
   font-size: 9.5%;
   font-family: 'Trebuchet MS';
   color: #497b4f;
   text-shadow: 10% white;
   padding-left: 10%;
   padding-top: 1%;
}

#username {
   border-radius: 15px;
   font-size: 95%;
   background-color: rgba(255, 255, 255, 0.856);
   margin-bottom: 10%;
}

#password {
   border-radius: 15px;
   font-size: 95%;
   background-color: rgba(255, 255, 255, 0.856);
   margin-bottom: 10%;
}

.form-group{
   font-size: 23px;
}

.notRegistered {
   margin-bottom: 14%;
   margin-top: -1%;
   font-family: 'Trebuchet MS';
   font-size: 200%;
}

input[type=text], input[type=password] {
   width: 100%;
   padding: 20%;
   margin: 5% 5%;
   display: inline-block;
   border: 0.20em solid rgb(160, 158, 158);
   box-sizing: border-box;
   font-family: 'Trebuchet MS';
   font-size: larger;
}

.subtitle {
   color: white;
   margin-top: -6%;
   margin-left: 2%;
}

form {
   border: 0.3em solid #f1f1f1;
   width: 50%;
   margin: 0 auto;
   padding: 2%;
   background-color: #497b4f;

}

.button-login {
   background-color: rgba(114, 157, 171, 0.721);
   color: white;
   padding: 1.4% 2%;
   margin: 3% 0;
   border: none;
   cursor: pointer;
   width: 100%;
   text-shadow: black;
   border-radius: 15px;
}

button:hover {
   opacity: 0.8;
}

.input {
   line-height: 4px;
}

.password-input {
   line-height: 3;
   margin-top: 3%;
}

.words {
   font-size: 10%;
   font-family: 'Cascadia Code';
   color: white;
   text-shadow: 1px black;
}

.bottomwords {
   color: white;
   margin-top: -6%;
   margin-left: 2%;
}

.nonvalid {
   background: white;
   border-radius: 20px;
   padding: 2%;
}

.name {
   line-height: 6;
}

.psswrd {
   line-height: 6;
}

.container {
   margin: 10%;
   padding-top: 7%;
   left: 50%;
}

.els-header-Login {
   text-align: center;
   margin-top: 7%;
   font-size: 1300%;
   font-family: 'Trebuchet MS';
}

.els-sentence-Login {
   text-align: center;
   margin-bottom: -10%;
   margin-top: -23%;
   font-size: 220%;
   font-family: 'Trebuchet MS';
}

.img-div-Login {
   display: flex;
   justify-content: center;
   background-image: url("../pic5.jpg");
   height: 65vh;
   margin-top:10%;
   mask-image: none;
   background-size: cover;
   margin-right: 30px;

}

#usernameLabel{
   font-size: larger;
}
#pwdLabel{
   font-size: larger;
}

#login-form {
   padding-top: 10.8%;
}

.main-div {
   height: 100vh;
   background-image: url("../pic1.jpg");
}
